.testSectionClass {
  border-radius: 1vw;
  border: 3px solid olivedrab;
}

.testSectionHeader {
  display: flex;
  flex-flow: row wrap;
  height: 3rem;
  background-color: olivedrab;
  border-top-left-radius: 0.5vw;
  border-top-right-radius: 0.5vw;
  color: aliceblue;
  font-size: 1.5rem;
}

.testSectionHeader>div {
  text-align: center;
}

.testSectionHeader>div:nth-child(1) {
  width: 50%;
}

.testSectionHeader>div:nth-child(2),
.testSectionHeader>div:nth-child(3) {
  width: 25%
}





.testSectionFooter {
  display: grid;
  justify-content: center;
  align-items: center;
}

.testSectionFooter>button {
  margin: auto;
}