.testImage {
  width: 15vh;
  height: 15vh;
}

.multipleSelectionClass {
  display: flex;
  flex-flow: column;
  margin: 20px;
  box-shadow: 0 5px 10px grey;
  border-radius: 2vw;
}

.multipleSelectionClass>* {
  margin: 20px;
}

.multipleSelectionHeader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.testGoal {
  font-size: 1.25rem;
  color: darkolivegreen;
  display: flex;
  flex-flow: row wrap;
  width: 80%;
}

.imageAndOptions {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 10px auto;

}

.testBody>li {
  cursor: pointer;
  padding: 0.3rem;
  border: 3px solid rgba(200, 200, 200, 0);
  border-radius: 1vw;
  margin: 10px;
}

.testBody>li:hover {
  background-color: whitesmoke;
  color: darkolivegreen;
  border: 3px solid darkolivegreen;
}


.selectedOptionDiv {
  background-color: whitesmoke;
  color: darkolivegreen;
  border: 3px solid darkolivegreen;
  border-radius: 1vw;
  min-width: 200px;

  text-align: center;
  padding: 10px;
}