.bgImage {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
  display: grid;
}

#bgImageText {
  font-size: 6vw;
  color: white;
  text-align: center;
  margin: auto;
}