#navbarMain {
  display: flex;
  flex-flow: row wrap;
  background: black;
  color: white;
  padding: 2vw;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1vh;
}

#navLeft {
  width: 20%;
  display: grid;


}

@media only screen and (max-width: 600px) {
  #navbarMain {
    justify-content: space-around;
  }

  #navLeft {
    display: none;
  }
}

#navRight {
  width: 80%;

}